<.header>
  New Workspace
  <:subtitle>Use this form to manage workspace records in your database.</:subtitle>
</.header>

<.workspace_form changeset={@changeset} action={~p"/workspaces"} />

<.back navigate={~p"/workspaces"}>Back to workspaces</.back>
