<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:slug]} type="text" label="Slug" />
  <.input field={f[:contact_email]} type="text" label="Contact email" />
  <:actions>
    <.button>Save Organization</.button>
  </:actions>
</.simple_form>
